# ServiceHub ASR API 凭证
SERVICEHUB_USERNAME=your_username_here
SERVICEHUB_PASSTOKEN=your_passtoken_here
SERVICEHUB_API_BASE_URL=https://www.ccailab.top
ASR_PROVIDER=aliyun
ASR_MODEL=paraformer-v2

# 阿里云 OSS 凭证
OSS_BUCKET_NAME=temp-video-sub
OSS_ACCESS_KEY_ID=your_access_key_id_here
OSS_ACCESS_KEY_SECRET=your_access_key_secret_here
OSS_REGION=oss-cn-chengdu
